node_modules
dist

public/assets

## Panda
styled-system
styled-system-studio
*storybook.log

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.env
